{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.country_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.country_list'|trans }}</h1>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 't.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.title'|trans, 't.title') }}</th>
                <th>{{ 'action.view'|trans }}</th>
                <th>{{ 'action.edit'|trans }}</th>
                <th>{{ 'action.delete'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for country in pagination %}
                <tr>
                    <td>{{ country.id }}</td>
                    <td>{{ country.title }}</td>

                    <td>
                        <a href="{{ url('country_view', {id: country.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('country_edit', {id: country.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'action.edit'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('country_delete', {id: country.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}