{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.country_view'|trans({'%id%': country.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.country_view'|trans({'%id%': country.id|default('')}) }}</h1>
    {% if country is defined and country|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ country.id }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  country.title }}</dd>
            <dt>{{ 'label.description'|trans }}</dt>
            <dd>{{ country.description }}</dd>
            <dt>{{ 'label.country'|trans }}</dt>
            <dd>{{  country.country.title }}</dd>

        </dl>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}