{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.destination_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.destination_list'|trans }}</h1>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 't.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.country'|trans, 'c.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.destination'|trans, 't.title') }}</th>
                <th>{{ 'label.description'|trans }}</th>
                <th>{{ 'label.author'|trans }}</th>
                <td>{{ 'average-ranking'|trans }}</td>
                <td>{{ 'action.new-grade'|trans }}</td>
                <th>{{ 'action.view'|trans }}</th>
                <th>{{ 'action.edit'|trans }}</th>
                <th>{{ 'action.delete'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for destination in pagination %}
                <tr>
                    <td>{{ destination.id }}</td>
                    <td>{{ destination.country.title }}</td>
                    <td>{{ destination.title }}</td>
                    <td>{{ destination.description }}</td>
                    <td>{{ destination.author.fullName }}</td>
                    <td>average-ranking</td>



                    <td>
                        <a href="{{ url('ranking_new', {destination_id: destination.id}) }}" title="{{ 'ranking_new'|trans }}">
                            {{ 'ranking_new'|trans }}
                        </a>
                    </td>

                    <td>
                        <a href="{{ url('destination_view', {id: destination.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                    <td>

                        {% if (destination.author == app.user or is_granted('ROLE_ADMIN'))  %}
                            <a href="{{ url('destination_edit', {id: destination.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'action.edit'|trans }}
                            </a>

                        {% endif %}
                    </td>
                    <td>
                        {% if destination.author == app.user or is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('destination_delete', {id: destination.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}